# Exploring Disney Land Wait Time Data Set

In [1]:
import pandas as pd ## call pandas functions using "pd"
import numpy as np  ## call numpy functions using "np"

#import meta data
disney_data = pd.read_csv("metadata.csv")

#import magic kingdom rides (wait times)
splash_mtn = pd.read_csv("splash_mountain.csv")
seven_dwarfs = pd.read_csv("7_dwarfs_train.csv")
pirates = pd.read_csv('pirates_of_caribbean.csv')

In [2]:
# First five rows of meta, five columns, # start date 2012
disney_data.iloc[0:5, 0:10]

,DATE,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM
0,01/01/2012,NaN,1,0,1,1,2012,CHRISTMAS PEAK,0,5
1,01/02/2012,NaN,2,1,1,1,2012,CHRISTMAS,2,5
2,01/03/2012,NaN,3,2,1,1,2012,CHRISTMAS,3,0
3,01/04/2012,NaN,4,3,1,1,2012,CHRISTMAS,4,0
4,01/05/2012,NaN,5,4,1,1,2012,CHRISTMAS,5,0

In [3]:
# Dropping sactmin from magic world rides, then dropping NaN from spostmin

# Also drop rows where wait time is not available (-999)
pirates_1 = pirates[pirates.SPOSTMIN > 0]
seven_dwarfs_1 = seven_dwarfs[seven_dwarfs.SPOSTMIN > 0]
splash_mtn_1 = splash_mtn[splash_mtn.SPOSTMIN > 0]


splash_mtn_1.head() #has posted minutes for each ride

         date             datetime  SPOSTMIN  SACTMIN
0  01/01/2012  2012-01-01 10:31:00      30.0      NaN
1  01/01/2012  2012-01-01 10:40:00      30.0      NaN
3  01/01/2012  2012-01-01 12:02:00      30.0      NaN
5  01/01/2012  2012-01-01 12:38:00      35.0      NaN
6  01/01/2012  2012-01-01 12:44:00      25.0      NaN

In [4]:
#Merging each ride with meta_data, using date as key

meta_splashmtn = pd.merge(splash_mtn_1, disney_data, left_on="date", right_on="DATE").drop('DATE', axis = 1)
meta_dwarfs = pd.merge(seven_dwarfs_1, disney_data, left_on="date", right_on="DATE").drop('DATE', axis = 1)
meta_pirates = pd.merge(pirates_1, disney_data, left_on="date", right_on="DATE").drop('DATE', axis = 1)

In [5]:
splash = meta_splashmtn.copy()

# changing date to date format
splash['date'] = pd.to_datetime(splash['date'])

In [6]:
splash.head()

,date,datetime,SPOSTMIN,SACTMIN,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,2012-01-01,2012-01-01 10:31:00,30.0,NaN,NaN,1,0,1,1,2012,...,1,1,15:45,NaN,Mickey's Jingle Jungle Parade,NaN,0,NaN,NaN,NaN
1,2012-01-01,2012-01-01 10:40:00,30.0,NaN,NaN,1,0,1,1,2012,...,1,1,15:45,NaN,Mickey's Jingle Jungle Parade,NaN,0,NaN,NaN,NaN
2,2012-01-01,2012-01-01 12:02:00,30.0,NaN,NaN,1,0,1,1,2012,...,1,1,15:45,NaN,Mickey's Jingle Jungle Parade,NaN,0,NaN,NaN,NaN
3,2012-01-01,2012-01-01 12:38:00,35.0,NaN,NaN,1,0,1,1,2012,...,1,1,15:45,NaN,Mickey's Jingle Jungle Parade,NaN,0,NaN,NaN,NaN
4,2012-01-01,2012-01-01 12:44:00,25.0,NaN,NaN,1,0,1,1,2012,...,1,1,15:45,NaN,Mickey's Jingle Jungle Parade,NaN,0,NaN,NaN,NaN